/*<!-- Material Design Angular -->  */
@import "node_modules/@angular/material/prebuilt-themes/indigo-pink.css";

/* <!-- Bower Components Bootstrap --> */
@import "components/bootstrap/dist/css/bootstrap.min.css";
@import "node_modules/font-awesome/css/font-awesome.min.css";
body {
  background-color: #eee;
}

/* Jumbotron */
.demo-layout-transparent {
  background: linear-gradient(
      rgba(0, 0, 255, 0.45),
      rgba(0, 0, 255, 0.45)
    ),
    url('assets/scotch-dog1.jpg') center / cover;
  height: 400px;
}

/* Nav Bar */
.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
  background: rgba(0, 0, 0, 0.3);
  color: white;
}

/* Header Text */
.header-text{
  text-align: center;
  vertical-align: middle;
  line-height: 250px;
  color: white;
}

/* Content Wrapper */
.container {
  width: 80%;
  position: static;
  margin: 0 auto;
}

.section {
    padding-top: 60px;
    color: black;
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    -moz-text-size-adjust: 100%;
}


.d-inline-block {
  display: inline-block !important;
  position: static;
}


.mat-card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}